body {
  overflow-x: hidden; }

.navbar .nav-link {
  font-size: 15px;
  font-variant: small-caps;
  padding-left: 1em !important;
  padding-right: 1em !important; }

.navbar .nav-item.active {
  border-left: #444 3px solid; }

.carousel-item {
  height: 80vh; }

.carousel-image-1 {
  background-image: url("../img/image1.jpg");
  background-size: cover;
  background-position: center 80%; }

.carousel-image-2 {
  background-image: url("../img/image2.jpg");
  background-size: cover; }

.carousel-image-3 {
  background-image: url("../img/image3.jpg");
  background-size: cover;
  background-position: 40% 40%; }

#icons .fa {
  font-size: 58px; }

#home-heading {
  background-image: url("../img/lights.jpg");
  background-attachment: fixed;
  height: 270px;
  display: flex;
  flex-flow: column;
  justify-content: center; }
  #home-heading .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7); }
    #home-heading .dark-overlay h1 {
      font-variant: small-caps; }

#video-player {
  position: relative;
  min-height: 280px;
  background-image: url("../img/media.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -300px;
  text-align: center;
  color: #fff; }
  #video-player .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); }
    #video-player .dark-overlay a {
      color: white;
      font-size: 70px; }

#galery img.img-fluid {
  height: 200px !important;
  width: 100% !important; }

#main-footer {
  background-color: black;
  color: white; }

#page-header {
  height: 200px;
  background-image: url("../img/image1.jpg");
  background-position: 0 -300px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
  color: #fff; }

#about {
  padding: 40px; }
  #about img {
    margin-top: -70px; }

#services button {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

#faq .card {
  border: #555; }
  #faq .card a {
    text-decoration: none;
    color: #eee; }
  #faq .card .card-body, #faq .card .card-header {
    background-color: #333; }
